<nav>
    <div id="toggle" [class.active]="isActive">
        <div class="header">
            <div class="burguer" (click)="isActive=!isActive">
                <span class="burguer-row-1"></span>
                <span class="burguer-row-2"></span>
                <span class="burguer-row-3"></span>
            </div>
            <div class="headline">igeni.us</div>
        </div>
        <ul id="menu">
            <li><a (click)="isActive=!isActive" routerLink="/" routerLinkActive="active">home</a></li>
            <li><a (click)="isActive=!isActive" routerLink="/about" routerLinkActive="active">about</a></li>
            <li><a (click)="isActive=!isActive" routerLink="/contact" routerLinkActive="active">contact</a></li>
        </ul>
    </div>
</nav>
