@import "../node_modules/sass-flex-mixin/flex";
@import "../node_modules/bootstrap/scss/normalize";

body {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 10px 10px 10px;;
    margin: 0;
    height: 100%;
}

a {
    transition: color 0.4s ease;
    color: #265C83;

    &:link,
    &:visited {
        color: #265C83;
    }

    &:hover {
        color: #7FDBFF;
    }

    &:active {
        transition: color 0.3s;
        color: #007BE6;
    }
}

em {
    font-size: 0.8rem;
}

h4 {
    font-size: 11px;
}

li,
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 0 20px;
    padding: 10px;
    @include flexbox();
    @include flex-direction(column);
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
}

span {
    font-size: 0.5rem;
    font-weight: bold;
    color: #999;
}

.posts {
    max-width: 768px;
    margin: 0 auto;
}

.thumbnail {
    height: 100px;
    width: 100%;
    margin: 0 0 10px;
    overflow: hidden;

    img {
        width: 100%;
    }
}
